# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode
.DS_Store
node_modules

.cache
.next
coverage

*.local*

.env
.env.production
.envrc
test-results

.eslintcache
