@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  :root {
    /* Brand */
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 187.9 85.7% 53.3%;
    --secondary-foreground: 220.9 39.3% 11%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --brand-black: 240 24% 10%;

    /* Design system */
    --true-black: 0 0 0%;
    --true-white: 0 0 100%;
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.3rem;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    /* Utility */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --success: 160.1 84.1% 39.4%;
    --success-foreground: 210 20% 98%;
    --warning: 37.7 92.1% 50.2%;
    --warning-foreground: 210 20% 98%;

    /* Graph Paper */
    --graph-paper-major: var(--accent);
    --graph-paper-minor: var(--accent);
  }

  .dark {
    /* Brand */
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 187.89999999999998 85.7% 53.3%;
    --secondary-foreground: 220.9 39.3% 11%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    /* Design system */
    --black: 240 24% 10%;
    --white: 0 0% 100%;
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;

    /* Utility */
    --success: 160.10000000000002 84.1% 39.4%;
    --success-foreground: 210 20% 98%;
    --warning: 37.69999999999999 92.1% 50.2%;
    --warning-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
  }

  .bg-graph-paper {
    background-image: linear-gradient(
        hsl(var(--graph-paper-major) / 70%) 1px,
        transparent 1px
      ),
      linear-gradient(
        90deg,
        hsl(var(--graph-paper-major) / 70%) 1px,
        transparent 1px
      ),
      linear-gradient(hsl(var(--graph-paper-minor) / 30%) 1px, transparent 1px),
      linear-gradient(
        90deg,
        hsl(var(--graph-paper-minor) / 30%) 1px,
        transparent 1px
      );
    background-size:
      100px 100px,
      100px 100px,
      20px 20px,
      20px 20px;
    background-position: 50% 0;
  }
}
